**/*.min.js
**/*.build.js
**/node_modules/**
**/dist/blocks.build.js
**/dist/blocks.editor.build.css
**/dist/blocks.style.build.css
**/build/**
**/languages/**
.github/
.github/issue_template.md
.vscode/
build
node_modules
.DS_Store
includes/.DS_Store
src/.DS_Store
dist/blocks.build.js
dist/blocks.editor.build.css
dist/blocks.style.build.css
