**/*.min.js
**/*.build.js
**/node_modules/**
**/dist/blocks.build.js
**/dist/blocks.editor.build.css
**/dist/blocks.style.build.css
**/build/**
**/languages/double-image.pot
build
node_modules
.DS_Store
src/.DS_Store
.vscode/
dist/blocks.build.js
dist/blocks.editor.build.css
dist/blocks.style.build.css
