.wp-block-double-image-double-image {
    display: block;
    clear: both;
    min-height: 320px;
    width: 100%;
    height: 100%;

    &.alignwide {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(840px - 10px) !important;
        width: calc(100% - 10px);
    }

    &.alignfull {
        max-width: 100% !important;
    }

    &.format-1-4 {
        .image-block:first-child {
            width: 39%;
        }

        .image-block:last-child {
            width: 59%;
        }
    }

    &.format-4-1 {
        .image-block:first-child {
            width: 59%;
        }

        .image-block:last-child {
            width: 39%;
        }
    }

    &.format-even .image-block {
        width: 50%;
    }

    &.format-full-stack .image-block {
        width: 100%;
    }

    @media (max-width: 600px) {
        &.format-1-4 .image-block:first-child, 
        &.format-1-4 .image-block:last-child, 
        &.format-4-1 .image-block:first-child, 
        &.format-4-1 .image-block:last-child, 
        &.format-even .image-block {
            width: 100%;
        }
    }

    .image-block {
        height: 100%;
        display: block;
        position: relative;
        margin-bottom: 1em;
        min-height: 320px;
        background-color: #eee;
        background-size: cover;
        background-position: 50%;

        &.show-overlay .overlay-container {
            opacity: 1;
        }

        &.has-image-set button {
            z-index: 0;
        }

        button {
			height: 100%;
			left: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			z-index: 50;

			&:focus {
				background: none;
				border: none;
				box-shadow: none;
				outline: none;
			}

			svg {
				fill: #444;
				margin: 0 auto;
				pointer-events: none;
				transform: translate3d(0, 0, 0);
				transition: transform 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}

    }

    .overlay-container {
        height: 100%;
        width: 100%;
        background-color: #ababab80;
        position: absolute;
        top: 0;
        opacity: 0;

        &.text-top .overlay-text {
            top: 0;
        }
    
        &.text-bottom .overlay-text {
            bottom: 0;
        }
    
        .overlay-text {
            padding: 1em;
            font-size: 16pt;
            font-style: italic;
            position: absolute;

            &.left {
                text-align: left;
                left: 0;
            }

            &.right {
                text-align: right;
                right: 0;
            }
        }
    }
}
