.wp-block-double-image-double-image {
    clear: both;
    height: 100%;
    min-height: 320px;
    width: 100%;

    &.alignwide {
        margin-left: auto;
        margin-right: auto;
        max-width: calc(900px - 20px) !important;
        width: calc(100% - 20px);
    }

    &.alignfull {
        max-width: 100% !important;
    }

    &.format-1-4 {
        .image-block:first-child {
            width: 40%;
        }

        .image-block:last-child {
            width: 60%;
        }
    }

    &.format-4-1 {
        .image-block:first-child {
            width: 60%;
        }

        .image-block:last-child {
            width: 40%;
        }
    }

    &.format-even .image-block {
        width: 50%;
    }

    &:not(.format-full-stack) {
        display: inline-flex;
    }

    &.format-full-stack .image-block {
        display: block;
        width: 100%;
    }

    @media (max-width: 600px) {
        &.format-1-4 .image-block:first-child, 
        &.format-1-4 .image-block:last-child, 
        &.format-4-1 .image-block:first-child, 
        &.format-4-1 .image-block:last-child, 
        &.format-even .image-block {
            width: 100%;
        }
    }

    .image-block {
        background-size: cover;
        background-position: 50%;
        height: 100%;
        display: flex;
        display: -ms-flexbox;
        min-height: 320px;
        position: relative;

        &.has-parallax {
            background-attachment: fixed;
        }

        &.show-overlay .overlay-container {
            opacity: 1;
        }
    }

    .overlay-container {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
        top: 0;

        @for $i from 1 through 10 {
            &.has-background-dim-#{ $i * 10 } {
                background-color: rgba($black, $i * 0.1);
            }
        }

        &.text-top .overlay-text {
            top: 0;
        }
    
        &.text-bottom .overlay-text {
            bottom: 0;
        }
    
        .overlay-text {
            font-size: 22pt;
            /*font-style: italic; ** Add this to the muse theme stylesheet instead. */
            padding: 0.6em 0.8em;
            position: absolute;
            width: 100%;

            &.left {
                left: 0;
                text-align: left;
            }

            &.right {
                right: 0;
                text-align: right;
            }

            p {
                color: inherit;
                font-size: 22pt;
                line-height: 1.2;
                margin: 0;
            }

        }
    }
}
